<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
   <button id="themeToggle" title="Toggle Dark Mode" style="position: fixed; top: 20px; right: 20px;">🌙 | ☀️</button>
  <div class="container">
    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST">
      <input type="text" name="username" placeholder="Username" maxlength="8" required>
      <input type="password" name="password" placeholder="Password" maxlength="8" required>
      <button type="submit">Login</button>
    </form>

    <a href="/register" class="logout-btn">Don't have an account? Register</a>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
